TYPE=service_account

# ID проекта Google Cloud
PROJECT_ID=

# ID приватного ключа
PRIVATE_KEY_ID=

# Приватный ключ
PRIVATE_KEY=

# Электронная почта клиента
CLIENT_EMAIL=

# ID клиента
CLIENT_ID=

AUTH_URI=https://accounts.google.com/o/oauth2/auth
TOKEN_URI=https://oauth2.googleapis.com/token
AUTH_PROVIDER_CERT_URL=https://www.googleapis.com/oauth2/v1/certs

# URL для сертификата клиента
CLIENT_CERT_URL=

UNIVERSE_DOMAIN=googleapis.com

