* {
    -fx-dark-color: #434c55ff;
    -fx-primary-color: #a1b5d8ff;
    -fx-dark-primary-color: #5479B8;
    -fx-base-color: #fffcf7ff;
    -fx-secondary-color: #97bd89ff;
    -fx-light-secondary-color: #e4f0d0ff;
    -fx-accent-color: #C84336;
}