@import "colors.css";

.dark-button {
    -fx-background-color: -fx-dark-primary-color;
    -fx-text-fill: -fx-base-color;
    -fx-font-size: 14px;
    -fx-border-color: -fx-dark-primary-color;
    -fx-border-width: 1px;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-margin-right: 10px;
    -fx-font-family: "Montserrat";
}

.light-button {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-dark-color;
    -fx-font-size: 14px;
    -fx-margin-right: 10px;
    -fx-font-family: "Montserrat";
}

.access-button {
    -fx-background-color: -fx-base-color;
    -fx-text-fill: -fx-dark-primary-color;
    -fx-font-size: 14px;
    -fx-border-color: -fx-dark-primary-color;
    -fx-border-width: 1px;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-margin-right: 10px;
    -fx-font-family: "Montserrat";
}

.label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-dark-color;
    -fx-font-family: "Montserrat";
}

.simple-text {
    -fx-font-size: 14px;
    -fx-text-fill: -fx-dark-color;
    -fx-font-family: "Montserrat";
}

.small-text {
    -fx-font-size: 10px;
    -fx-text-fill: -fx-dark-color;
    -fx-font-weight: lighter;
    -fx-font-family: "Montserrat";
}

.white-box {
    -fx-background-color: -fx-base-color;
}

.login-warning-text {
    -fx-background-color: rgba(200, 67, 54, 0.2);
    -fx-border-color: -fx-dark-color;
    -fx-border-width: 1px;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-text-fill: -fx-accent-color;
    -fx-font-size: 14px;
    -fx-font-weight: lighter;
    -fx-font-family: "Montserrat";
}

.password-warning-text {
    -fx-background-color: rgba(200, 67, 54, 0.2);
    -fx-border-color: -fx-dark-color;
    -fx-border-width: 1px;
    -fx-text-fill: -fx-accent-color;
    -fx-font-size: 14px;
    -fx-font-weight: lighter;
    -fx-background-radius: 8px 0 0 8px;
    -fx-border-radius: 8px 0 0 8px;
    -fx-font-family: "Montserrat";
}

.login-field {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-dark-color;
    -fx-font-size: 14px;
    -fx-border-color: -fx-dark-color;
    -fx-border-width: 1px;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-font-family: "Montserrat";
    -fx-prompt-text-fill: -fx-dark-color;
}

.password-field {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-dark-color;
    -fx-font-size: 14px;
    -fx-border-color: -fx-dark-color;
    -fx-border-width: 1px;
    -fx-background-radius: 8px 0 0 8px;
    -fx-border-radius: 8px 0 0 8px;
    -fx-font-family: "Montserrat";
    -fx-prompt-text-fill: -fx-dark-color;
}

.eye-field {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-dark-color;
    -fx-font-size: 14px;
    -fx-border-color: -fx-dark-color;
    -fx-border-width: 1px;
    -fx-background-radius: 0 8px 8px 0;
    -fx-border-radius: 0 8px 8px 0;
}

.eye-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.text-area {
    -fx-font-size: 14px;
    -fx-text-fill: -fx-dark-color;
    -fx-alignment: center;
    -fx-border-color: transparent;
    -fx-background-color: -fx-base-color;
    -fx-font-family: "Montserrat";
}

.background-signin {
    -fx-background-color: -fx-base-color;
    -fx-background-image: url(/org/hse/brina/assets/sign-in.png);
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.background-signup {
    -fx-background-color: -fx-base-color;
    -fx-background-image: url(/org/hse/brina/assets/sign-up.png);
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}