@import "colors.css";

root {
    -fx-background-color: -fx-base-color;
}

.success-text {
    -fx-font-size: 22px;
    -fx-text-fill: -fx-dark-primary-color;
    -fx-font-family: "Montserrat";
    -fx-background-color: -fx-base-color;
}